/*Colors*/

$white: hsl(0, 0%, 100%);
$stone-light-1: hsl(30, 54%, 90%);
$stone-light-2: hsl(30, 18%, 87%);
$stone-medium: hsl(30, 10%, 34%);
$stone-dark: hsl(24, 5%, 18%);
$brown: hsl(14, 45%, 36%);
$dark-rose: hsl(332, 51%, 32%);
$light-rose: hsl(330, 100%, 98%);


/*Font-Weights*/

$medium: 400;
$semibold: 600;
$bold: 700;